@-webkit-keyframes bounceleft {
  0% {
	-webkit-transform:translateX(-100%);
    opacity: 0;
  }
  
  15% {
  	-webkit-transform:translateX(0);
    padding-bottom: 5px;
  }
  30% {
  	-webkit-transform:translateX(-20%);
  }
  40% {
  	-webkit-transform:translateX(0%);
    padding-bottom: 6px;
  }
  50% {
  	-webkit-transform:translateX(-10%);
  }
  70% {
  	-webkit-transform:translateX(0%);
    padding-bottom: 7px;
  }
  80% {
  	-webkit-transform:translateX(-5%);
  }
}

@-webkit-keyframes bounceright {
  0% {
	-webkit-transform:translateX(100%);
    opacity: 0;
  }
  
  15% {
  	-webkit-transform:translateX(0);
    padding-bottom: 5px;
  }
  30% {
  	-webkit-transform:translateX(20%);
  }
  40% {
  	-webkit-transform:translateX(0%);
    padding-bottom: 6px;
  }
  50% {
  	-webkit-transform:translateX(10%);
  }
  70% {
  	-webkit-transform:translateX(0%);
    padding-bottom: 7px;
  }
  80% {
  	-webkit-transform:translateX(5%);
  }
}

@-webkit-keyframes bounce {
  0% {
	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  16% {
  	-webkit-transform:translateY(0);
    padding-bottom: 5px;
  } 
17% {
  	-webkit-transform:translateY(20);
    padding-bottom: 5px;
  }  
  15% {
  	-webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-webkit-transform:translateY(-11%);
  }
  40% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-webkit-transform:translateY(-8%);
  }
  70% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-webkit-transform:translateY(-5%);
  }
  90% {
  	-webkit-transform:translateY(0%);
  }
}
@-webkit-keyframes bouncedown {
  0% {
	-webkit-transform:translateY(100%);
    opacity: 0;
  }
  16% {
  	-webkit-transform:translateY(0);
    padding-bottom: 5px;
  } 
17% {
  	-webkit-transform:translateY(-20);
    padding-bottom: 5px;
  }  
  15% {
  	-webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-webkit-transform:translateY(11%);
  }
  40% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-webkit-transform:translateY(8%);
  }
  70% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-webkit-transform:translateY(5%);
  }
  90% {
  	-webkit-transform:translateY(0%);
  }
}

.admininval{
color:white;position:absolute;top:200px;left:210px;font-size:20px;
}
.facultyinval{
color:white;position:absolute;top:200px;left:210px;font-size:20px;
}
.coordinval{
color:white;position:absolute;top:200px;left:210px;font-size:20px;
}

body{background-image:url('colors_of_india.jpg');background-repeat:no-repeat;overflow:hidden;}
.head{color:#5F5854;position:absolute;left:80px;}

/*Admin Login*/

.admin{background-color:rgba(241,238,99,0.8);
position:absolute;top:60px;left:535px;width:300px;height:300px;
box-shadow: 7px 7px 7px #61622F;
-webkit-animation: bounce 2000ms ease-out;
}
.user{
position:absolute;top:75px;left:25px;
width:250px;height:45px;border:none;
}
.password{
position:absolute;top:80px;left:25px;
width:250px;height:45px;border:none;
}

.submit{
position:absolute;top:160px;left:25px;
width:250px;height:45px;
background-color:#177bbb;
border:none;	
color:white;font-size:18px;
}
.login{
position:absolute;top:200px;left:30px;
width:250px;height:45px;
background-color:#177bbb;
border:none;	
color:white;font-size:18px;
}
/*Co-Ordinator Login*/
.fname{
position:absolute;top:75px;left:30px;
width:250px;height:45px;border:none;
}
.fpassword{
position:absolute;top:130px;left:30px;
width:250px;height:45px;border:none;
}

.coordinator{
position:absolute;width:300px;height:275px;background-color:rgba(241,238,99,0.8);top:390px;left:165px;

box-shadow: 6px 6px 6px #61622F;-webkit-animation: bounceleft 2000ms ease-out;
}
.cohead{position:absolute;left:50px;color:#5F5854;}

/*Event Co-ordinators*/

.ecoordinator{
position:absolute;top:390px;left:920px;width:300px;height:275px;background-color:rgba(241,238,99,0.8);
box-shadow: 7px 7px 7px #61622F;-webkit-animation: bounceright 2000ms ease-out;
}
.ecohead{
position:absolute;left:50px;color:#5F5854;
}
.ecouser{
position:absolute;top:75px;left:30px;
width:250px;height:45px;border:none;
}
.ecopassword{
position:absolute;top:130px;left:30px;
width:250px;height:45px;border:none;
}
.ecologin{
position:absolute;top:200px;left:30px;
width:250px;height:45px;
background-color:#177bbb;
border:none;	
color:white;font-size:18px;
}
/*IFO Login*/
.ifo{
position:absolute;top:390px;left:535px;width:300px;height:275px;background-color:rgba(241,238,99,0.8);
box-shadow: 7px 7px 7px #61622F;-webkit-animation: bouncedown 2000ms ease-out;
}
.ifohead{
position:absolute;left:100px;color:#5F5854;
}
.ifopassword{
position:absolute;top:130px;left:30px;
width:250px;height:45px;border:none;
}
.ifouser{
position:absolute;top:75px;left:30px;
width:250px;height:45px;border:none;
}
.ifologin{
position:absolute;top:200px;left:30px;
width:250px;height:45px;
background-color:#177bbb;
border:none;	
color:white;font-size:18px;
}
/*VIT Logo*/
.vit_logo{
position:absolute;top:10px;left:80%;
}
/*Riviera Logo*/
.riviera_logo{
opacity:1;width:470px;height:30%;position:absolute;top:-2px;
}